.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.intro {
  background-image: url("./images/blue-background.jpg");
  background-size: cover;
  color: #DCAE1D;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectSection {
  background: #87d0e2;
  min-height: 400px;
  text-align: center;
  padding-bottom: 20px;
}

.projectTitle {
  color: #DCAE1D;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 200px 0 200px;
}

@media(max-width: 1000px){
  .projects {
    flex-direction: column;
    padding: 0;
  }
}

.contact {
  background: rgb(2, 17, 61);
  height: 220px;
  color: #DCAE1D;
  text-align: center;
}

.contactIcons {
  padding: 30px 500px 0 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media(max-width: 1240px){
  .contactIcons {
    padding: 0 200px 0 200px;
  }
}

@media(max-width: 700px){
  .contactIcons {
    padding: 0 100px 0 100px;
  }
}

@media(max-width: 450px){
  .contactIcons {
    padding: 0 50px 0 50px;
  }
}

.myPicture {
  max-width: 15%;
  min-width: 200px;
  border-radius: 50%;
}

.fa-linkedin {
  color: #DCAE1D;
  font-size: 50px;
}
.fa-linkedin:hover {
  color: rgb(255, 147, 47);
}

.fa-envelope {
  color: #DCAE1D;
  font-size: 50px;
}
.fa-envelope:hover {
  color: rgb(255, 147, 47);
}

.fa-github {
  color: #DCAE1D;
  font-size: 50px;
}
.fa-github:hover {
  color: rgb(255, 147, 47);
}